.row.wrapper
  .col.col-lg-offset-2.col-lg-8.title.headline.story



    p.narrative.select
      | You are on the roof of the Life Sciences building ... It is raining
      |  ... How did you get here?
    p.narrative
      | You try the door to the stairwell ...
      |  It is locked.
    p.narrative
      | A series of basic maths questions are posted to the door ...
      |  You feel that
      |  by answering them the door will unlock ...
    p.narrative
      | You can't explain why ... but you know it to be true ...
    p.narrative
      | Success! You decend to the third floor.
    p.narrative
      | The corridor is dark ... someone is approaching ...
    p.narrative
      | You hold your breath ...
    p.narrative
      | ...
    p.narrative
      | It is Dr. Elaine Cranenburgh ...
      |  she looks troubled.
    p.narrative
      | Elaine has lost her keys ...
    p.narrative
      | "I'm going to be in so much trouble.
      font.pink  HE
      |  is going to be so angry."
    p.narrative
      | "Please can you help me find my keys? Perhaps if you can answer these maths questions for me they might turn up?"
    p.narrative
      | You dont know why ... but you know it to be true ...
    p.narrative
      | You wonder who
      font.pink  HE
      |  is.
  .col.col-lg-offset-2.col-lg-8.title.headline.navigate
    a.next(href="#")
      | Next
